<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://unpkg.com/htmx.org@1.9.11"
      integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
      crossorigin="anonymous"
    ></script>
    <title>Employees</title>
  </head>

  <body>
    <h1>Employees:</h1>
    <input
      type="text"
      hx-get="/"
      hx-trigger="change"
      hx-target="#employees"
      hx-push-url="true"
      name="q"
    />
    <table>
      <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>DOB</th>
          <th>Is Active</th>
        </tr>
      </thead>
      <tbody id="employees">
        {% for emp in employees %}
        <tr>
          <td>{{emp.first_name}}</td>
          <td>{{emp.last_name}}</td>
          <td>{{emp.dob}}</td>
          <td>{{emp.is_active}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
